/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
* {
	/* border: 1px solid grey; */
	color: white;
}
body {
	font-family: 'Viga', sans-serif;
	font-size: 1rem;
	background-color: black;
}
/* END OF RESET AND DEFAULT ADJUSTMENTS TO GLOBAL */

/* NAVBAR SECTIONAL COMPONENT */

header nav {
	padding-top: 1.5rem;
	display: flex;
	justify-content: space-around;
	font-family: 'Viga', sans-serif;
}

header nav a {
	text-decoration: none;
	font-size: 2.6rem;
}

header nav a:hover {
	color: orange;
}

/* PROFILE HEADER COMPONENT */

.profile-header {
	font-family: 'Press Start 2P', cursive;
	margin-top: 7rem;
	text-align: center;
	margin-bottom: 2rem;
}

.profile-header h1 {
	font-size: 2.3rem;
}

.profile-segment {
	margin-top: 7rem;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.profile-img-segment {
	display: flex;
	justify-content: center;
}

.profile-pic {
	max-width: 90%;
	border-radius: 50%;
}

.bio-segment {
	text-align: center;
	max-width: 35%;
	margin-top: 1.5rem;
}

.bio-segment h2 {
	font-size: 3rem;
}

.bio-segment p {
	font-size: 1.7rem;
}

/* END OF PROFILE SECTIONAL COMPONENT */

/* BITCOIN GIF */
.bitcoin-gif {
	max-width: 220px;
	border-radius: 50%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	/* width: 80%; */
}

/* BITCOIN COLOR */
.bitcoin-color {
	color: orange;
}

/* CRYPTO SECTIONAL COMPONENT */
.crypto-section {
	margin-top: 12rem;
	margin-bottom: 20em;
}

/* .crypto-article {
	
} */

.crypto-header {
	text-align: center;
	font-size: 3em;
	margin-bottom: 2em;
}

.three-things {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.three-things div {
	width: 30%;
}

.crypto-paragraph {
	text-align: center;
}

/* FOOTER */
footer {
	width: 100%;
	text-align: center;
	background-color: #1f1e1d;
	margin-top: 3em;
}

footer h3 {
	font-size: 1.4em;
	text-align: center;
	padding: 2em;
}

footer nav {
	padding: 2em;
}

footer nav a {
	text-decoration: none;
	margin: 1em;
}

footer img {
	width: 3em;
}
