/* MEDIA QUERIES  */
@media only screen and (max-width: 500px) {
	header nav a {
		font-size: 1.5em;
	}
}

/* @media only screen and (max-width: 600px) {
	.glitch {
		font-size: rem;
	}

	/* .nav-link {
		color: black;
	} */
/* }
